@use "../partials/variables" as *;

.container_filters_tools {
  padding-top: 3rem;
  position: sticky;
  top: 60px;
  z-index: 999;
  background-color: $light2;
}

.category-slider::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
}

.category-slider::-webkit-scrollbar-thumb {
  background-color: $notadark;
  height: 123px;
  border-radius: 20px;
}

.category-slider::-webkit-scrollbar-thumb:hover {
  background-color: $notalight;
  border-radius: 20px;
}

.tags_page.active {
  background-color: $notalight_hover;
}

.tags_page {
  background-color: #b7f60c;
}

.tags_page:hover {
  background-color: #b8f60cab;
}

.modal_style {
  background-color: $light2;
}

.btn_all {
  background-color: $notalight_hover;
}

.btn_all:hover {
  background-color: $notalight_hover_2;
}