$primary: #1d92c0;
$bg_body: #0e2339;
$bg_body2: #030827;
$dark: #333333;
$sky_night: #2c3e50;
$sky_day: #1f2223;
$light: #bcffee;
$card_dark: #0e1011;
/* light mode */
$light3: #8dd5fc;
/* $light2: #b5ecff; */
$light2: #ddf7ff;
$txtlight:#2c3e50;
$neutral: #ffffff;
$glowlight: #5500ff;
$glowdark: #00fbd5;
$btnlink: #5500ff;
$blulight: #52dafcad;
/* var2 */
$bludark: #52dafc;
$notalight: #b7f60c;
$notalight_hover: #fdb438;
$notalight_hover_2: #e1e000;
$notadark: #0ac300;
$sail: #ffd000;